<h1>Midwestern State University Course Schedule</h1>
  <div class ="teststile">
      <button @click="$router.push('mainpage')">Home</button>
      <button @click="$router.push('Editcourse')">Edit course  schedule</button>
    </div>
    <br><br>
   <form v-on:submit.prevent="Seecourse" class="Seecourses">
    <div ref="content">
		<table class ="help">
			<tr>
				<td>
					Semester<select name="Semester" id="Semester"  v-model="tosend.Season">
						<option value="Fall">Fall</option>
						<option value="Spring">Spring</option>
						<option value="Summer1">Summer1</option>
						<option value="Summer2">Summer2</option>
					  </select>
				   </td>
				<td> College<input type="text"  list="Cols" v-model="tosend.Col" /> 
				 <datalist  name="Col" id="Cols" >
				   <option v-for="item in Cols" :key="item" :value="item" />
				 </datalist> </td>
				 
				 <td>
					 Subject<input type="text"  list="Subj" v-model="tosend.Subj"/>
					 <datalist name="Subj" id="Subj" >
					   <option v-for="item in Subjs" :key="item" :value="item" />
					 </datalist>
				 </td>
				 <td>
					 Buliding<input type="text"  list="Bldg"  v-model="tosend.Bldg" />
					 <datalist name="Bldg" id="Bldg">
					 <option v-for="item in Bldgs" :key="item" :value="item" />
					 </datalist>
				 </td>
				 <td>
					 Year<select name="year" id="year"  v-model="tosend.year">
						 <option value="2021">2021</option>
						 <option value="2022">2022</option>
					   </select>
				 </td>
			</tr>
			<tr>
			 <td>
				 Course<input type="text" id="Crse" name="Crse"  v-model="tosend.Crse" /></select>
			 </td>
			 <td>
				 Section<input type="text" id="Sect" name="Sect"  v-model="tosend.Sect" />
			 </td>
			 <td>
				 Title: <input
				 type="text"
				 id="Title"
				 name="Title"
				 v-model="tosend.Title"
			   />
			 </td>
			 <td>
				 PrimaryInstructor<input
				 type="text"
				 id="PrimaryInstructor"
				 name="PrimaryInstructor"
				 v-model="tosend.PrimaryInstructor"
			   />
			 </td>
			</tr>
			<tr>
				 <td>
					 Crn:<input type="text" id="Crn" name="Crn" v-model="tosend.Crn"/>
				 <td>
					 Max <input type="number" id="Max" name="Max" v-model="tosend.Max"/>
				 </td>
				 <td> Current<input type="number" id="Curr" name="Curr" v-model="tosend.Curr" /></td>
				 <td> Avalable <input type="number" id="Aval" name="Aval" v-model="tosend.Aval" /></td>
			</tr>
			<tr>
			 <td>
				 Days<input type="text" id="Days" name="Days" v-model="tosend.Days" /><br>
			 </td>
			 <td>
				 Begin <input type="time" id="Begin" name="Begin" v-model="tosend.Begin" />
			 </td>
			 <td>End<input type="time" id="End" name="End" v-model="tosend.End" /></td>
			 <td>Room<input type="text" id="Room" name="Room" v-model="tosend.Room" /></td>
			 </tr>
			
			
		</table>
    </div>
    
    <div class="submit">
    <button>GO</button>
  </div>
  </form>
  <style>
	  .help{
		display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
	  }
	  .teststile{
		padding: 10px;
       text-align: left;
	   font-size: 12px;
    font-family: Arial, Helvetica, Geneva, sans-serif;
	border: none;
}
	  
	 
  </style>