
<html>
	<head>

	</head>
	<body>
    <h1> Midwestern State University Advising Form</h1><br><br>
    <div>
      <button @click="$router.push('mainpage')">Home</button>
      <button @click="$router.push('EditAdvising')">Edit Advising forms</button>
    </div>
    <br><br>
		<div>
      <form>
        Semester<select name="Semester" id="Semester"  v-model="tosend.Semester">
          <option value="Fall">Fall</option>
          <option value="Spring">Spring</option>
          <option value="Summer1">Summer1</option>
          <option value="Summer2">Summer2</option>
        </select>&ensp;&ensp;&ensp; 
        Year<select name="year" id="year"  v-model="tosend.Year">
          <option value="2022">2022</option>
          <option value="2021">2021</option>
        </select>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        
        Date<input type="date" id="DateCreated"name="DateCreated" /> &ensp;&ensp;&ensp;&ensp;&ensp;
  
        FirstName<input type="text" id="Fname" name="Fname" v-model="tosend.FirstName" />&ensp;&ensp;&ensp;&ensp;&ensp;
  
        LastName<input type="text" id="Lname" name="Lname" v-model="tosend.LastName"/><br><br>
  
        Mnumber<input type="text" id="StudentID" name="StudentID" v-model="tosend.StudentID"/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
        Major<select name="year" id="year"  v-model="tosend.Year">
        <option value=" "></option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        </select>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
  
         Classification <select name="Classification" id="Classification" v-model="tosend.Classification" >
          <option value=""></option>
          <option value="Freshman">Freshman</option>
          <option value="Sophomore">Sophomore</option>
          <option value="junior">junior</option>
          <option value="Senior">Senior</option>
        </select>&ensp;&ensp;&ensp;&ensp;&ensp;
        Display <select name="Display" id="Display" v-model="tosend.Display" >
          <option value="25"> 25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>&ensp;&ensp;&ensp;&ensp;&ensp;
       
      </div>
      <br>
      <div class="submit">
        <button>GO</button>
      </div>
      </form>
      
	</body>
</html>
